# SplitX Environment Variables Template
PRIVATE_KEY=810fa8fd8cc01100565926d4a471df6fd29323bb5bdf9fa9298d3c10428aea0e
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ARBISCAN_API_KEY=YOUR_ARBISCAN_API_KEY
PORT=3001
